body{
 background-color:#fff;
 text-align:center;
 padding-top:50px;
 }
 
#board {
 position: relative;
 margin: 50px auto;
 width: 280px;
 padding: 33px 25px 29px;
 background: white;
 border-bottom: 1px solid #c4c4c4;
 border-radius: 5px;
 -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
 box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

#Result{
 margin:0 auto;
 text-align:center;
 padding:50px 0; 
 }

#Result:before {
 content: '';
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 height: 8px;
 background: #c4e17f;
 border-radius: 5px 5px 0 0;
 background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
 background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
 background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
 background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
#ResultNum{
 font-size:50pt;
 font-family:Verdana
 }
#Button{
 margin:50px 0 0 0;
 }

#Button input{
 font-size:30px;
 padding:0 ;
 background-color: #2ecc71;
 box-shadow: 0px 5px 0px 0px #15B358;
 outline:none;
}

#Button input:hover {
 background-color: #48E68B;
 outline:none;
}
#Button input:active {
 transform: translate(0px, 5px);
 -webkit-transform: translate(0px, 5px);
 box-shadow: 0px 1px 0px 0px;
 outline:none;
}
#btn{
 background-color:#40AA53;
 border:1px solid #40AA53;
 width:200px;
 height:65px;
 margin:0em auto;
 font-size:1em;
 border-radius:10px;
 color:#FFF;
-webkit-appearance:none;
-moz-appearance:none
 }
#footer {
 margin-top: 100px;
 border-top: 1px solid #ccc;
 padding: 20px 0;
 color: #ccc;
}